<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Obli</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Obli.styles.css" asp-append-version="true" />
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">

   
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="jumbotron.css" rel="stylesheet">

</head>

<body>

    

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

  
    

        <footer class="bg-dark  text-lg-start text-white ">
            
            <div class="container p-4">
               
                <div class="row mt-4">
                    
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Microsoft</h5>

                        <hr />
                        <ul class="list-unstyled mb-0">

                            <li>
                                <a href="https://learn.microsoft.com/da-dk/" class="text-white"><i class="fas fa-book fa-fw fa-sm me-2"></i>Microsoft Developer Network </a>
                            </li>
                            <br>
                            <li>
                                <a href="https://learn.microsoft.com/da-dk/docs/" class="text-white"><i class="fas fa-book fa-fw fa-sm me-2"></i>MSDN Library: Intro. til programmeringssprog mv.</a>
                            </li>
                          
                        </ul>
                    </div>
                   
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Bekendtgørelse</h5>

                        <hr />

                        <ul class="list-unstyled">
                           <li>
                                <a href="https://anbo-easj.dk/bekendtgoerelser/" class="text-white"><i class="fas fa-book fa-fw fa-sm me-2"></i>datamatiker-uddannelsen, eksamen og lign </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">More</h5>

                        <hr />
                        <ul class="list-unstyled mb-0">

                            <li>
                                <a href="https://www.zealand.dk/" class="text-white"><i class="fas fa-book fa-fw fa-sm me-2"></i> Erhvervsakademi Sjælland </a>
                            </li>

                            <li>
                                <a href="https://anbo-easj.dk/index.htm" class="text-white"><i class="fas fa-book fa-fw fa-sm me-2"></i> Index </a>
                            </li>

                        </ul>
                    </div>
                   
                    
                   
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0 ">
                        <h5 class="text-uppercase">About me</h5>

                        <hr />

                        <ul class="list-unstyled">

                            <li>
                                <a href="https://anbo-easj.dk/cv/" class="text-white"><i class="fas fa-book fa-fw fa-sm me-2"></i>CV </a>
                            </li>
                             
                        </ul>

                        <dt>

                            Address (work):
                            Maglegårdsvej 2, 4000 Roskilde
                        </dt>
                        
                        <dt>
                             E-mail (work): anbo(at)zealand.
                        </dt>

                        
                    </div>
                   
                </div>
              
            </div>                    
            
        </footer>
     
    

</body>
</html>